.build-item {
    fill: #00ff09;
    stroke: #0f0;
    stroke-width: 4px;
    fill-opacity: 0;
    stroke-opacity: 0;
    transition: .3s;
    cursor: pointer;

    &:hover {
        fill-opacity: 0.3;
        stroke-opacity: 1;
    }

    &.sold {
        fill-opacity: 0.4;
        stroke-opacity: 0.7;
        fill: #ff2d2d;
        stroke: #ff2d2d;
        cursor: no-drop;
    }
}


.information {
    color: #fff;
    background: #121212;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
        font-size: 24px;
    }

    &-list {
        list-style: none;
        display: flex;
        gap: 18px;
        text-align: center;
    }

}

.list-item {
    display: flex;
    min-width: 235px;
    flex-direction: column;

    b {
        font-size: 18px;
    }
}

.btn {
    padding: 12px 24px;
    border: none;
    cursor: pointer;

    &.btn-primary {
        background-color: chocolate;
        color: #fff;
    }

    &.btn-secondary {
        background-color: chartreuse;
    }

    &:hover {
        opacity: .8;
    }
}

